include README.md
include LICENSE
include setup.py
include requirements.txt
include requirements-dev.txt
include pyproject.toml
include CHANGELOG.md

recursive-include docs *

global-exclude *.pyc __pycache__/